html {
    background: #FFFFFF;
    margin: 0% 15%;
}

body {
    background: #FFFFFF; 
/*    height: 2000px;*/
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#active {
    background: #003459;
    color: aliceblue;
}

ul li {
    list-style: none;
}

a {
    font-family: 'Oswald', sans-serif;
}

/**************MAIN STYLE**************/

.main-header, .nav {
    display: flex;
    flex-direction: column;
}

.side-logo {
    display: flex;
    align-self: center;
}

img {
    width: 100px;
    height: 100px;
}

.main-header {
    padding-top: 1em;
    justify-content: center;
}
.nav {
    margin-top: 1em;
    padding: 0;
}

.nav a {
    display: block;
    color: #797E83;
    font-size: 1.125em;
    font-weight: 300;
    text-align: center;
    padding: .4em;
    border-bottom: 1px solid #EBECEC;
    text-decoration: none;
}

.nav a:hover {
    color: #0B0B0B;
    border-bottom-color: #003459;
}

#active:hover {
    color: #797E83;
}

nav {
    margin-bottom: 2em;
}

/*******************************

        MEDIA QUERY 

*******************************/

/*FIRST BRACKPOINT*/
/******NAVIGATION******/
@media (min-width: 769px) {
    .main-header {
        height: 150px;
        justify-content: center;
        padding: 0;
    }
    
    img {
        width: 100px;
        height: 100px;
    }
    
    .nav {
        margin-top: 9em;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .nav a {
        border-bottom-color: transparent;
        width: 200px;
    }
    
    /******END NAVIGATION*******/
    /******MAIN********/
    
    main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 550px;
    }
    
    /********ARTICLE*********/
    .mainArticle {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .sectionTwo, .sectionOne {
        display: flex;
        flex-direction: row;
        width: 650px;
        justify-content: space-around;
    }
    /********END ARTICLE*******/
    /*******ASIDE***********/
    aside {
        border: 2px solid #003459;
        width: 300px;
        display: flex;
        justify-content: center;
        padding-top: 1em;
    }
    
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /*******END ASIDE*******/
}

/*SECOND BRACKPOINT*/

@media (min-width: 1025px) {
    /******LENGUGES********/
    
    .lenguages {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
    
    .english, .espanol {
        text-decoration: none;
        font-size: .8em;
        font-family: 'Oswald', sans-serif; 
        flex-wrap: wrap;
    }
    
    .espanol {
        margin-left: 1em;
        margin-right: 6em;
    }
    
    .english {
        margin-right: 1em;
    }
   
    /******NAVIGATION******/    
    .main-header {
        flex-direction: row;
        justify-content: flex-start;
        margin: 0;
        padding: 0;
        height: auto;
    }
    
    .side-logo {
        margin-right: 50px;
        align-self: flex-start;
    }
    
    .nav {
        display: flex;
        margin-top: 2em;
        margin-bottom: 0;
        align-self: flex-end;
    }
    
    .nav li {
        justify-content: space-between;
    }

    .nav a {
        display: block;
    }
    
    /******END NAVIGATION*******/
    /******MAIN********/
    
    main {
        display: flex;
        flex-direction: row;
    }
    /******ARTICLES********/
    article {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        justify-content: flex-start;
    }
    
    article div {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        margin: 2px;
        width: 750px;
    }
    
    .sectionOne, .sectionTwo {
        display: flex;
        width: 750px;
    }
    
    .artOne, .artTwo {
        display: flex;
        border: 1px solid black;
        
    }
    
    .imgOne, .imgTwo {
        width: 180px;
        height: 180px;
    }
    
    /******END ARTICLES*****/
    /******CONTACT SECTION*****/
    aside {
        display: flex;
        justify-content: space-around;
    }
    .contact {
        display: flex;
        flex-direction: column;
        width: 300px;
        align-items: center;
        flex: 1;
    }
    
    .contact a {
        text-decoration: none;
        margin: 1em;
    }
    
    /********COMPLEMENT********/
    
    .complement {
        display: flex;
        flex-direction: column;
        height: 500px;
        justify-content: space-between;
        border: 1px solid blue;
    }
    
    .complementArticle, .complementInfo {
        display: flex;
        flex-direction: row;
        height: 250px;
    }
    
    .articleOne, .articleTwo, .articleThree, .articleFour {
        display: flex;
        border: 2px solid blue;
        flex-direction: column;
        flex-grow: 1;
/*        flex-wrap: wrap;*/
/*        justify-content: center;*/
        margin: 2px;
        padding: 5px;
        
    }
    
    .articleOne button {
        display: flex;
        margin-top: auto;
        align-self: flex-end;
    }
    
    .complementOne, .complementTwo {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        margin: 2px;
        flex-grow: 1;
/*        border: 2px solid blue;*/
    }
    
    
}











